// base settings  -- start //
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; // all elements inherit box-sizing:border-box from body
}

html {
  font-size: 62.5%; // helps with responsive design using REM
  @include respond(Desk-L){
    font-size:120%;
  };
  @include respond(Lap-L){
    font-size:65%;
  };
    @include respond(Lap-M){
    font-size:62.5%;
  };
  @include respond(Lap-S){
    font-size:53%;
  };
  @include respond(Tab-L){
    font-size:50%;
  };
    @include respond(Tab-P){
    font-size:44%;
  };
    @include respond(Mob-L){
    font-size:41%;
  }
   @include respond(Mob-M){
    font-size:39%;
  };
   @include respond(Mob-S){
    font-size:37%;
  };


  //   @include respond(Lap-S){
  //   font-size:55%;
  // };
  //   @include respond(Lap-M){
  //   font-size:60%;
  // };
  //   @include respond(Lap-L){
  //   font-size:62.5%;
  // };

}

body {
  box-sizing: border-box; // helps to maintain element dimension (margin not included)
  font-family: 'Lato', sans-serif; 
  font-size: 1.6rem;
  font-weight: 400;
  width: 100vw;
  color:#777;
}

// App component
.app{
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items:center;
}
// Layout component
.layout{
  height:95vh;
  width: 95vw;
// media query
  @include respond(Mob-L){
   height:100vh;
   margin-top:auto 0;
   width:100vw;
  };
}

