
// variables 

$color-primary: #feca57; // orange
$color-secondary:#ff4757; // watermelon red
$color-gray:gray; //primary gray
$color-lightgray:lightgray; // light gray
$color-white:#fff; // primary white