
// About  page View
.about{
  height:100%;
  width:100%;
  @include display-flex(row,wrap,center,center); 
  background:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,.9)),
  url(https://images.unsplash.com/photo-1510664691675-9c263a118102?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80) fixed , url(https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80) fixed;
  background-repeat:no-repeat;
  background-position: left center , right center;
  color:white;
  //color:#ff4757;
  // margin:0;
  // padding:0;
  font-weight:900;
  letter-spacing:.1rem;
  text-align:justify;
  overflow:scroll;
  word-wrap: break-word;
img{
  //border:1px solid red;
  border-radius:10px;
}
&__bio{
  height:100%;
  width:70%;
  padding:2rem;
  @include display-flex(column,nowrap,center,center); 
  
  // text-align:justify;
  h1{
    //color:white;
    text-transform:capitalize;
    padding:.5rem .8rem;
    //border-radius:5px;
    //line-height:2;
    //word-spacing:.5rem;
  }
  p{
    margin-top: 2rem;
    font-size:2rem;
    align-self:flex-start;
    //font-family: 'Lato', sans-serif; 
    //color:white;
  a{
    text-decoration:none;
    color:green;
  }
  }
}

}