
// Contact page view
.contact{
  height:50vh;
  border:1px solid red;
  @include display-flex(column,nowrap,center,center);//@mixin 
  >*{
    padding:2rem;
    font-size:2rem;
    //font-size:5rem;
  }
  a{
    text-decoration: none;
  }
}