// Projects page view
.projects{
  overflow:scroll;
  h1{
    //margin:.25rem;
    //margin-top:-1.5rem;
    text-align:center;
    text-transform: uppercase;
  }
    &__list{
    height:100%;
    overflow: scroll;
    //@include display-flex(row,wrap,center,center); 
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr));
    //grid-template-rows:repeat(auto-fit,minmax(auto,1fr));
    grid-auto-rows:auto;
    grid-gap:2rem;
    perspective:2500px;
    border:1px solid green; 
  }
  &__item{
    border:.5px solid $color-lightgray;
    border-radius:5px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
    // min-width:25rem;
    // max-width:30rem;
    // min-height:20rem;
    max-height:40rem;
    padding:1rem;
    @include display-flex(column,nowrap,space-evenly,center); //@mixin 
    flex:1;
    text-transform: capitalize;
    font-size:2.5rem;
    font-weight:500;
    transition:transform 1.5s;
    //backface-visibility:hidden;
    img{
    height:15rem;
    align-self:flex-end;
    }
    &:hover{
      //transform:rotateY(360deg);
      
    }
  }
}

@include respond(Mob-L){
  .projects__item{
max-height:15rem;
   img{
    height:10rem;
    align-self:flex-end;
    }
  }
}