
// variables 

$color-primary: #feca57; // orange
$color-secondary:#ff4757; // watermelon red
$color-gray:gray; //primary gray
$color-lightgray:lightgray; // light gray
$color-white:#fff; // primary white

// mixins
@mixin display-flex($flex-direction,$flex-wrap,$justify-content,$align-items){
  display:flex;
  flex-direction:$flex-direction;
  flex-wrap:$flex-wrap;
  justify-content:$justify-content;
  align-items:$align-items;
}

//--- functions---
// @function add($a,$b){
//   @return ($a + $b);
// }
// add(2 +1);

//---- placeholders ----- 
//  %btn-placeholder{
//   color:red;
// }
// @extend %btn-placeholder;



// base settings  -- start //
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; // all elements inherit box-sizing:border-box from body
}

html {
  font-size: 62.5%; // helps with responsive design using REM
}

body {
  box-sizing: border-box; // helps to maintain element dimension (margin not included)
  font-family: 'Lato', sans-serif; 
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
  color:#777;
}


// App component
.app{
  height:100vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items:center;
}
// Layout component
.layout{
  height:95vh;
  width: 95vw;
}

// Layout > Header componet
.header{
  height:20vh;
  background: $color-primary;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  @include display-flex(column,wrap,space-around,center);
  border-bottom:none;
  border-radius:10px;
  border-bottom-left-radius: 0;
  font-family: 'Knewave', cursive;
  // UI > Logo component
&__logo_box{
   @include display-flex(row,nowrap,center,center);
 }
 &__logo{
  font-size:6rem;
  align-self: center;
  animation : changeColor 1s ease-in 5s both;
  color:white;
  }
}

//Navigation > Nav component
.nav{
  height:100%;
  width:50%;
  margin-right:10vw;
}
.link__list{
  height: 100%;;
  width:100%;
  @include display-flex(row,nowrap,space-around,center);
  //flex:auto;
  list-style: none;
}
.link__item{
  text-decoration: none;
  list-style: none;
  text-transform: upper;
  color:$color-gray;
  font-size: 2rem;
  cursor: pointer;
  position:relative;
  overflow: hidden;
  padding: 0 .5rem ;
  transition: color .35s;
  background: #feca57;
  animation : moving 2s both ;
   &:nth-child(1){
    animation-delay: 5s;
  }
   &:nth-child(2){
    animation-delay: 5.5s;
  }
   &:nth-child(3){
    animation-delay: 5.3s;
  }
   &:nth-child(4){
    animation-delay: 6.2s;
  }
   &:nth-child(5){
    animation-delay: 5.7s;
  }
  &:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    background-color: $color-secondary;
    height:100%;
    width:100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: translateX(-102%);
    transition: transform .3s;
  }
  &:hover:before{
    transform: translate(0) ;
    border-radius:5px;
  }
  &:hover{
    color:white;
    background-clip: text;
  }
  
}
// active Link style for react-router <NavLink/>
.selected{
  transform:scale(1.2);
  color:white;
  background-color: #ff4757;
  border-radius:5px;
}

// Main Component --- Displays all components under PageViews folder
.main{
  height:85vh;
  background: #ff6b6b;
  margin-top:-10vh;
  @include display-flex(column,nowrap,center,center); 
  border-left: none;
  border-right:none;
  background: transparent;
   overflow:hidden;
  > div{
  height:100%;
  width:100%;
  padding:1rem;
  margin:10vh 0;
  }
  >.about{
    margin:0;
  }
   >.homeImage{
    height:100vh;
    width:200vw;
    margin:0;
  }
}
.homeImage{
 background:linear-gradient(to top,rgba(11,11,11,.3),rgba(11,11,11,.0)),url(./assets/images/balloon2.png),url(./assets/images/calgary.png);
 background-size:auto 90%,auto 25rem;
 background-position:top left,bottom right;
 background-repeat:repeat-x,no-repeat;
 animation: driving 15s linear infinite;
}


// pageViews > Home component -- renders the animation  on "/" route.
.home{
  font-size: 6rem;
  position: relative;
  font-family: 'Knewave', cursive;
  color: $color-secondary;
  text-transform: lowercase;
  letter-spacing: .5rem;
  //text-shadow: 0 1px 0 #efefef,0 2px 0 #efefef,0 3px 0 #efefef,0 4px 0 #efefef,0 30px 5px rgba(0,0,0,.1);
  text-shadow: 0 .4rem 0 #efefef,0 3rem .5rem rgba(0,0,0,.5);
  @include display-flex(column,nowrap,center,center); 
  animation:moveOut1 2s 4.5s ease forwards; 
  width:100%;
  height:100%;
}

// renders animation for text "Ravindra" @ Home
.heading__primary{
  animation: moveInLeft 2s ease-in-out;
  margin:0;
  margin-bottom:-3rem;
}
// renders animation for text "rawat" @ Home
.heading__secondary{
  animation: moveInRight 2s ease-in-out,join 1s ease-in 3s forwards;
  margin-top:-3rem;
}
// renders the animation for text ".io" @ Home
.heading__tertiary{
  opacity:0;
  animation:io 1s ease-out 3.5s forwards;
}

// renders animation for text "indra" & "at" in primary and secondary heading classes
.end{
   opacity:1;
   animation: fadeOut 1s 2s forwards;
}

// About  page View
.about{
  height:100%;
  width:100%;
  @include display-flex(row,wrap,center,center); 
  background:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,.9)),
  url(https://images.unsplash.com/photo-1510664691675-9c263a118102?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80) fixed , url(https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80) fixed;
  background-repeat:no-repeat;
  background-position: left center , right center;
  color:white;
  color:#ff4757;
  margin:0;
  padding:0;
  font-weight:900;
  letter-spacing:.2rem;
  text-align:justify;
  overflow:scroll;
img{
  border:1px solid red;
  border-radius:10px;
  width:auto;
}
&__bio{
  padding:1rem;
  height:100%;
  width:70%;
  height:100%;
  padding:2rem;
  @include display-flex(column,nowrap,center,center); 
  word-wrap: break-word;
  text-align:justify;
  h1{
    color:white;
    text-transform:capitalize;
    padding:.5rem .8rem;
    border-radius:5px;
   line-height:2;
   word-spacing:.5rem;
  }
  p{
    margin-top: 2rem;
    font-size:2rem;
    font-family: 'Lato', sans-serif; 
    color:white;
  a{
    text-decoration:none;
    color:green;
  }
  }
 
}

}

// Skills page view

.skills{
  @include display-flex(column,nowrap,flex-start,center); 
  h1{
    margin:1rem;
    margin-top:-1rem;
    text-transform: uppercase;
  }
  &__list{
    width:100%;
    @include display-flex(row,nowrap,space-evenly,center); 
  }
  &__item{
    border:1px solid red;
    border-radius:5px;
    min-width:25rem;
    min-height:25rem;
    height:100%;
    margin:1rem;
    padding:1rem;
     @include display-flex(column,nowrap,center,center); 
    flex:1;
    text-transform: uppercase;
  }
}

// Projects page view
.projects{
  h1{
    margin:1rem;
    margin-top:-1rem;
    text-align:center;
    text-transform: uppercase;
  }
    &__list{
    @include display-flex(row,wrap,center,center); 
    overflow: scroll;
    margin:0 auto;
  }
  &__item{
    border:.5px solid $color-lightgray;
    box-shadow: 1px 2px 5px rgba(0,0,0,.5);
    min-width:25rem;
    max-width:30rem;
    min-height:20rem;
    margin:1rem;
    padding:1rem;
    @include display-flex(column,nowrap,center,center); //@mixin 
    flex:1;
    text-transform: uppercase;
    img{
    height:15rem;
    }
  }
}

// ProjectDetails page view
.project{
  flex-direction:column;
  overflow:scroll;
  &__summary{
    min-height:15rem;
      @include display-flex(row,wrap,space-around,center); //@mixin
  &_logo{
    height:150%;
    width:15rem;
  }
  &_info{
    width:80%;
    height:150%;
  }
  }
  &__gallery{
    padding:1rem;
    margin:1rem;
    border:2px solid green;
    border-radius:5px;
     @include display-flex(row,wrap,space-evenly,center); 
    > img{
      margin:1rem;
      box-shadow: 2px 2px 5px rgba(0,0,0,.5px);
      border:1px solid $color-gray;
      border-radius:5px;
      &:hover{
      transform:scale(1.2);
      cursor: pointer;
      box-shadow: .5rem .5rem 1.5rem rgba(0,0,0,.5px);
    }
    }
  }

}

// Contact page view
.contact{
  height:50vh;
  border:1px solid red;
  @include display-flex(column,nowrap,center,center);//@mixin 
  >*{
    padding:2rem;
    font-size:2rem;
  }
  a{
    text-decoration: none;
  }
}

// Footer component
.footer{
  height: 10vh;
  background: $color-primary;
  text-align:right;
  @include display-flex(row,nowrap,center,flex-end);//@mixin
  clip-path: polygon(0 60% ,100% 0 , 100% 100% , 0 100% );
  margin-top:-10vh;
  border-top:none;
  border-radius:10px;
  border-top-right-radius: 0;
     font-family: 'Knewave', cursive;
     color:white;
     font-size: 2rem;
  img{
    height:3rem;
  }
  >*{
    margin-bottom:10px;
  }
}


/// ---ANIMATION KEYFRAMES ----///

// Home page animation -- primary__heading   text "ravindra"
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150%); }
  70% {
     opacity: .6;
    transform: translateX(10%); }
  100% {
    opacity: 1;
    transform: translateX(0); } 
  }

// Home page animation secondary__heading  text "rawat"
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150%); }
  70% {
    opacity: .6;
    transform: translateX(-10%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

// home page animation , fades out text "indra" and "at" in primary and secondary headings
@keyframes fadeOut {
  0% {
    opacity: 1;
    }
  100% {
    opacity: 0;
    display:none; 
    } 
}

// Home page anmation , joins remaining primary and secondary headings text "rav" and "raw"
    @keyframes join {
      0%{
        transform: translate(0%,0%);
      }
      50%{
        transform: translate(32%,-70%);
      }
       100%{
        transform: translate(32%,-70%);
      }
    }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(6rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

    
// Home page animation --- text ".io" moves in from right
@keyframes io {
  0%{
    opacity:0;
    transform: translate(100rem,-100%)
  }
    0%{
    opacity:0;
    transform: translate(100rem,-170%)
  }
  100%{
    opacity:1;
    transform: translate(150%,-170%);
  }
}

// home page animation , text "ravraw.io" moves out of view 
        @keyframes moveOut1{
      0%{
        opacity:1;
        transform: translate(0,0);
      }
      45%{
       opacity:0;
        transform: translate(-20%,-40%) scale(0.52);
      }
        50%{
        opacity:0;
        transform: translate(-30%,-50%) scale(0.22);
      }
      80%{
        transform: translate(-30%,-50%);
      }
      100%{
        opacity:0;
        transform: translate(-40%,-100%);
        z-index: -10;
      }
    }

// Header animation - logo changes color white to red , as text "ravraw.io" moves out of view
    @keyframes changeColor{
      from{
        color:white;
      }
      to {
        color:red;
      }
    }

//Home page animation -- buildings moving

@keyframes driving {
	from { background-position:top left; }

	to { background-position: top right; }
}

// Header Navbar animated links dropping and bouncing
    @keyframes moving {
      0%{
        transform :translateY(-15rem);
        transition-timing-function: ease-in;
      }
      35%{
        transform: translateY(0);
      }
      55%{
        transform :translateY(-2rem);
        box-shadow: none;
      }
        75%{
        transform: translateY(0);
      }
       100%{
        transform :translateY(0);
        box-shadow: none;
      }
    }


    
